.taskContainer {
  background-color: aliceblue;
  border: solid 1px rgba(128, 128, 128, 0.636);
  border-radius: 8px;
  padding: 10px;
  height: 190px;
  width: 400px;
  margin: 15px 0;
  overflow-y: auto;
  scrollbar-width: none;
}

.taskWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.task {
  display: flex;
  align-items: center;
  color: white;
  background-color: gray;
  text-align: left;
  padding: 5px;
  border-radius: 4px;
  border: none;
  margin: 4px 0;
  font-size: 13px;
  width: 100%;
  height: 30px;
}

.task button {
  color: white;
  border: none;
  background-color: gray;
}

.completed {
  background-color: rgb(193, 146, 146);
  text-decoration: line-through;
}

.taskBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: gray;
  padding: 5px;
  border-radius: 4px;
  border: none;
  margin-left: 8px;
  width: 30px;
  height: 30px;
}

.taskMsg {
  margin-top: 8px;
  color: #191919b5;
  text-align: center;
}

.msgError {
  color: rgb(214, 125, 125);
  margin: 5px 0;
}

.msgSuccess {
  color: rgb(140, 214, 125);
  margin: 5px 0;
}

.hidden {
  display: none;
}

.taskDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  height: 100%;
  max-width: 380px;
  overflow-x: none;
}

.taskDetails h2 {
  color: #191919b3;
  font-size: 13px;
}

.taskDetails p {
  color: #191919b3;
  font-size: 13px;
  width: 60%;
  overflow-wrap: break-word;
  word-break: break-all;
  max-width: 100%;
}

.taskDetails button {
  color: white;
  height: 30px;
  border: solid 1px gainsboro;
  border-radius: 4px;
  background-color: rgb(78, 89, 100);
  width: 100%;
}